.base-button {
    margin: 0 auto;
}

.button {
    color: gray;
    width: 200px;
    height: 40px;
    background-color: grey;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}