.total-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
    margin-bottom: 40px;
}

.total-likes {
    display: flex;
}
